doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/main.min.css")
		title new gulp
	body
		header.header.lazy.df(data-bg="./images/hero-bg.jpg")
			a.db(href="#text") link
			p.header-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?

			p.header-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?

			p.header-title  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?

			p.header-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?

			p.header-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?
		section.hero
			p.hero__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?
			p.hero__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?
			p.hero__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?
			p.hero__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, error repudiandae cupiditate deserunt blanditiis obcaecati quas illo, reiciendis, id aliquam facere! Dolorum minus molestias recusandae ullam esse, odio assumenda vel?
		img.lazy#text(data-src="./images/item-1.jpg", alt="")
	script(src="./js/main.min.js")